<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blogger Space</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>

        <a href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
        <button id="logout" class="btn">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}

    </nav>
    <header>
        <h1>Welcome to The Blogger Space</h1>
    </header>
    <main>
        <div class="blog">{{{body}}}</div>

    </main>
    {{#if loggedIn}}
    <script src="/public/js/logout.js"></script>
     {{/if}}
</body>
</html>